<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../assets/img/ps4/fornite.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">FET VideoGames</h5>
        <p class="card-text">FET VideoGames es una empresa Colombiana dedicada a afrecer felicidad
          a los jovenes a través del alquiler de los más recientes videojuegos y con la mejor calidad.
        La empresa fue fundada el año 2010 por un grupo de estudiantes de mercadeo de la institución
        universitaria EAM de Armenia Quindío.</p>
        <p class="card-text"><small class="text-muted">Contáctanos al número 3235842165 y
        te daremos una muestra gratis de  tu juego favorito</small></p>
      </div>
    </div>
  </div>
</div>
